{{ if .Site.Params.giscus }}
<script src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.giscus.data_repo}}"
        data-repo-id="{{ .Site.Params.giscus.data_repo_id}}"
        data-category="{{ .Site.Params.giscus.data_category}}"
        data-category-id="{{ .Site.Params.giscus.data_category_id}}"
        data-mapping="{{ .Site.Params.giscus.data_mapping}}"
        data-reactions-enabled="{{ .Site.Params.giscus.data_reactions_enabled}}"
        data-emit-metadata="{{ .Site.Params.giscus.data_emit_metadata}}"
        data-theme="{{ .Site.Params.giscus.data_theme}}"
        data-lang="{{ .Site.Params.giscus.data_lang}}"
        crossorigin="{{ .Site.Params.giscus.crossorigin}}"
        async>
</script>
{{ end }}
{{ if and (.GitInfo) (.Site.Params.github_repo) -}}
<div class="text-muted mt-5 pt-3 border-top">
  {{ T "post_last_mod" }} {{ .Lastmod.Format .Site.Params.time_format_default -}}
  {{ with .GitInfo }}: {{/* Trim WS */ -}}
    <a href="{{ $.Site.Params.github_repo }}/commit/{{ .Hash }}">
      {{- .Subject }} ({{ .AbbreviatedHash }}) {{- /* Trim WS */ -}}
    </a>
  {{- end }}
</div>
{{ end -}}
